.bg-dark {
    background-color: #006994!important;
}

.navbar {
    border-bottom:  1px solid #333333;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: black;
}

.dropdown-item:hover {
    color: #006994;
}

header {
    background-image: url(../img/header.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    height: 50%;
}

.main {
    padding-top: 80px;
    padding-bottom: 80px;
}

.main p {
    text-align: justify;
}

.line {
    background-color: #006994;
}

.album {
    padding-bottom: 30px;
    padding-top: 30px;
}

.card {
    border: none;
}

.card-title a {
    text-decoration: none;
}

.card img {
    height: 200px;
    border-radius: 10%;
    
}

footer {
    background-color: #222225;
    color: white;
}

.social a {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 5px;
}

/* πληροφοριες*/
.information {
    margin-top: 120px;
}

/* πως να φτάσετε στο νησί*/
.pos-na-ftasete {
    margin-top: 120px;
}